{
  "parser": "babel-eslint",
  "rules": {
    "no-var": true,
    "semi": false,
    "quotes": ["single", "avoid-escape"],
    "strict": "never",
    "no-underscore-dangle": false
  },
  "env": {
    "node": true
  }
}
